body {
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3.5em;
    text-align: center;
}

.bigbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    display: inline-block;
    font-size: 1.7 em;
    padding: 1em;
}

.countdown span {
    display: block;
    font-size: 5rem;
}